body {
    margin: 0;
    padding: 0;

}

#section-one,
#section-two,
#section-three {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap;
    gap: 0.5em; */
}

#section-one {
    padding: 1em 0.5em;
}

#section-two div {
    height: 60vh;
    width: 50%;

}

.colorInput input {
    padding: 0;
    border: 0px solid #778899;
    height: 5vh;
    width: 10vw;

}

.colorInput,
.colorSelector,
.setColor {
    margin: auto;
    justify-content: space-between;
    border-radius: 0.2rem;
    padding: 1em 0;
}

.setColor,
.setColor button {
    padding: 0.5em;
}

#color-style {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

#section-three {
    margin: auto 1em;
}